<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Wells</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
<!-- <ion-searchbar value="Value" placeholder="Enter text to search"  [(ngModel)]="searchText" autofocus></ion-searchbar> -->


<ion-searchbar  placeholder="Enter text to search" type="text" (ionChange)="getItems($event)"></ion-searchbar>

<ion-list>
    <ion-item *ngFor="let item of itemsList; let index">
      <ion-avatar slot="start">
        <img [src]="'https://picsum.photos/80/80?random=' + index" alt="avatar" />
      </ion-avatar>
      <ion-checkbox></ion-checkbox>
      <ion-label>{{ item }}</ion-label>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
